{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% block body_block %}
    <h3>password reset</h3>
    <p>Forgotten your password? Enter your Email address below,and we'll email instructions for setting a new one.</p>
    <form method="post">
        {% csrf_token %}
        email:<input type="text" name="email">
        <input type="submit" value="send">
    </form>
    {% endblock %}

</body>
</html>