{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body_block %}
    {% if validlink %}
    <h4>set new password</h4>
    <form method="post">
        {% csrf_token %}
        new password <input type="text" name="new_password1" ><br>
        confirm password <input type="text" name="new_password2" id="">
        <input type="submit" value="change password">
    </form>
    {% else %}
    <p>your password has been set,you may go ahead and log in now.</p>
    <a href="{% url 'login'%}" class="btn btn-primary">log in</a>

    {% endif %}
    {% endblock %}      
    
</body>
</html>